<h3>
    Usuario
    <small>Agregue/modifique los datos del usuario</small>
</h3>

<!-- START row-->
<div class="row">
    <div class="col-sm-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">Usuario</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" placeholder="Ingrese el nombre de usuario" class="form-control" ng-model="vm.username" />
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <input type="text" placeholder="Ingrese el apellido" class="form-control" ng-model="vm.lastName" />
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Ingrese el nombre" class="form-control" ng-model="vm.name" />
                    </div>
                    
                    <button type="button" class="btn btn-labeled btn-success" ng-click="vm.save()">
                        <span class="btn-label">
                            <i class="fa fa-save"></i>
                        </span>Guardar
                    </button>
                    <button type="button" class="btn btn-default pull-right" ng-click="vm.goBack()">Cancelar</button>
                </form>
            </div>
        </div>
        <!-- END panel-->
    </div>
    
</div>
